body, main, article {
    background-color: rgb(253, 217, 162);;
    margin:0;
    padding:0;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin:0px;
    padding:0.7%;
}

li {
    color: black;
    background-color: rgb(228, 227, 227);

    padding: 5px 10px;
    flex: 1 1 100%;
}

button[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  button.bigger {
      font-size: x-large;
  }

  .bigger {
    font-size: 100px;
    font-size: x-large;
}

  button[type=submit].bigger {
      font-size: 100px;
      font-size: x-large;
  }
  
  button[type=submit]:hover {
    background-color: #45a049;
  }


  @media screen and (max-width:750px) {
    ul {
        flex-direction: column;
        align-content: center;
    }
}


ul.staffList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    /*flex-grow: 1;
    width:100%;*/
    padding: 10px;
    margin: 0;
    overflow:hidden;
    
    /*
    Source: https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
    
    These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}


li.staffListItem {
    color: black;
    background-color: rgb(240, 240, 240);
    width: 100%;
    display: flex;
    flex: 0 0 100%;
    /*align-items: stretch;
    text-align: flex-start;
     */
}

p.staffAttribute {
    /*
    padding: 5px;
    */
    flex: 1 1 14.28%;
    width: 14.28%;
    align-content:flex-start;
    font-family: 'CarlitoRegular';
    font-weight: normal;
    font-style: normal;
}

p.staffAttribute-title {
    font-weight: bold;
}

li.staffListItem:nth-child(odd) {
    background-color: white;
 }