.form-icon {
    color: green;
    font-weight: extra-bold;
    font-size: large;
}

#emailCheckmark {
  display: none;
  position: absolute;
  top: 245px;
  right: 25px;
}

#passwordCheckmark {
  display: none;
  position: absolute;
  top: 320px;
  right: 25px;
}